body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.submit-box, .box {
  border: solid 2px #61dbfb;
  border-radius: 5px;
  padding: 8px;
  margin: 0 5px;
  height: 45px;
}

.box {
  min-width: 250px;
}

.submit-box {
  width: 150px;
}

.col-md {
  padding-right: 0;
  padding-left: 0;
}

@media only screen and (max-width: 750px) {
  .container-fluid {
    padding: auto 0;
    width: 100vw;
  }
}

.description {
  height: 7em;
  padding: none;
}

.results table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.results td {
  word-wrap: break-word;
  padding: 0;
  width: 16%;
}

.bold td {
  font-weight: 700;
  font-size: 1.2em;
}

.result {
  margin: 1.5em 0;
}

.website {
  font-size: 0.8em;
}