body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.submit-box, .box {
  border: solid 2px #61dbfb;
  border-radius: 5px;
  padding: 8px;
  margin: 0 5px;
  height: 45px;
}

.box {
  min-width: 250px;
}

.submit-box {
  width: 150px;
}

.col-md {
  padding-right: 0;
  padding-left: 0;
}

@media only screen and (max-width: 700px) {
  .container-fluid {
    padding: auto 0;
    width: 100vw;
  }
}